<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parallax</title>
    <!-- css link -->
    <!-- <link rel="stylesheet" href="../../vendor/"> -->
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="parallax2.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">
    <div
      class="my-paroller"
      data-paroller-factor="0.4" 
      data-paroller-factor-xs="0.2" 
      data-paroller-factor-sm="0.3" 
      data-paroller-type="foreground" 
      data-paroller-direction="horizontal"
    ></div>

    <div class="text-center mt-5">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta
        exercitationem nesciunt itaque soluta dolores nulla veniam voluptas
        dolore ratione qui quidem consequatur, est ducimus tempore dolor amet
        dolorem pariatur ut cum, voluptatum omnis aspernatur porro.
        Reprehenderit fugiat sunt accusamus sapiente dolorum, quidem nam
        officiis perferendis? Beatae eos tempore, mollitia blanditiis ea
        laborum, harum tenetur illum, reiciendis nemo eius molestiae
        reprehenderit!
      </p>
    </div>

    <div class="text-center mt-5">
        <img src="../../images/animal-1.jpg" alt="">
        <img src="../../images/animal-2.jpg" alt="">
    </div>

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/paroller.js/dist/jquery.paroller.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="parallax2.js"></script>
  </body>
</html>
