<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AOS</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../vendor/aos-master/dist/aos.css">
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="aos.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">

    <div class="row justify-content-center mt-5">
      <div class="col-lg-4" data-aos="fade-up" data-aos-duration="2000">
        <img src="../../images/food-1.jpg" alt="" class="w-100">
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-lg-4" data-aos="zoom-in" data-aos-duration="2000">
        <img src="../../images/animal-1.jpg" alt="" class="w-100">
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-lg-4" data-aos="zoom-out" data-aos-duration="2000">
        <img src="../../images/animal-1.jpg" alt="" class="w-100">
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-lg-4" data-aos="fade-right" data-aos-duration="2000">
        <img src="../../images/learning-1.jpg" alt="" class="w-100">
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-lg-4" data-aos="fade-left" data-aos-duration="2000">
        <img src="../../images/sports-1.jpg" alt="" class="w-100">
      </div>
    </div>
    

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/aos-master/dist/aos.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="aos.js"></script>
  </body>
</html>
