<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JCounter Example-02</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="counter2.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">
    <!-- Example-02 -->
    <div id="ex-2">
      <h2 class="mb-5">Example-02: Counter-up Plugin</h2>
      <div class="d-flex justify-content-around">
        <div class="box-2 d-flex justify-content-center align-items-center">
          <div class="text-center text-white">
            <h5 id="num-1" class="fs-1">520</h5>
            <p class="fs-3">Projects</p>
          </div>
        </div>

        <div class="box-2 d-flex justify-content-center align-items-center">
          <div class="text-center text-white">
            <h5 id="num-2" class="fs-1">855</h5>
            <p class="fs-3">Projects Done</p>
          </div>
        </div>
        <div class="box-2 d-flex justify-content-center align-items-center">
          <div class="text-center text-white">
            <h5 id="num-3" class="fs-1">435</h5>
            <p class="fs-3">Happy Clients</p>
          </div>
        </div>
      </div>
      <hr />
    </div>

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <!-- counter-up -->
    <script src="../../vendor/count-up-jq-script-net/js/jquery-3.6.0.slim.min.js"></script>
    <script src="../../vendor/count-up-jq-script-net/js/countMe.min.js"></script>

    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="counter2.js"></script>
  </body>
</html>
