<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter Example-01</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">
    <!-- Example-01 -->
    <div id="ex-1">
      <h2 class="mb-5">Example-01: Counter-up Plugin</h2>
      <div class="d-flex justify-content-around text-danger">
        <h4 class="counter fs-1">2562</h4>
        <h4 class="counter fs-1">2000</h4>
        <h4 class="fs-1"><span class="counter">500</span>+</h4>
      </div>
      <hr />
    </div>


    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <!-- counter-up -->
    <script src="../../vendor/counter-up/js/waypoints.min.js"></script>
    <script src="../../vendor/counter-up/js/jquery.counterup.min.js"></script>

    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="counter1.js"></script>
  </body>
</html>
