<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JCounter Example-03</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="counter3.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">
    <!-- Example-03 -->
    <div id="ex-3">
      <h2 class="mb-5">Example-03: Counter-up Plugin</h2>
      <div class="text-center">
        <h1>Visitors:</h1>
        <p class="fs-1">🧑‍🤝‍🧑 <span id="my-number">1234</span></p>
      </div>
      <hr />
    </div>

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <!-- counter-up -->
    <script src="../../vendor/number-counting/jquery-3.6.0.slim.min.js"></script>
    <script src="../../vendor/number-counting/counto.js"></script>

    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="counter3.js"></script>
  </body>
</html>
