<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preloader</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="circle-text.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">
    
    
    
    <h2 id="demo3" class="demo strong mt-5">This text makes a complete rotation no matter how long it is. </h2>
    

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/circle-type/dist/circletype.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="circle-text.js"></script>
  </body>
</html>
