<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parallax</title>
    <!-- css link -->
    <!-- <link rel="stylesheet" href="../../vendor/"> -->
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="parallax.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">
    <div
      class="parallax-window mt-5"
      data-parallax="scroll"
      data-image-src="../../images/nature-parallax.jpg"
    >
      <div class="text-center c-parallax-text">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae aut
          modi doloribus esse? Laudantium tempora, sunt id deserunt harum
          ratione?
        </p>
      </div>
    </div>

    <div class="text-center mt-5">
        <img src="../../images/food-3.jpg" alt="">
    </div>

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/parallax.js/parallax.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="parallax.js"></script>
  </body>
</html>
