<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nivo Slider</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../vendor/nivo-slider/themes/default/default.css" />
    <link rel="stylesheet" href="../../vendor/nivo-slider/themes/light/light.css" />
    <link rel="stylesheet" href="../../vendor/nivo-slider/themes/dark/dark.css" />
    <link rel="stylesheet" href="../../vendor/nivo-slider/themes/bar/bar.css" />
    <link rel="stylesheet" href="../../vendor/nivo-slider/nivo-slider.css" />
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="nivo-slider.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">
    
    <div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider"> 
                <img src="../../images/animal-1-full.jpg" alt="" class="w-100" /> 
                <a href="http://dev7studios.com">
                    <img src="../../images/animal-2-full.jpg" alt="" title="This is an example of a caption" class="w-100" />
                </a> 
                <img src="../../images/animal-3-full.jpg" alt="" data-transition="slideInLeft"class="w-100"  /> 
                <img src="../../images/animal-1-full.jpg" alt="" title="#htmlcaption" class="w-100" /> 
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                 <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
            </div>
        </div>
    </div>
    

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../vendor/nivo-slider/jquery.nivo.slider.js"></script> 
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="nivo-slider.js"></script>
  </body>
</html>
