<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="toast.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container mt-5">

    <button class="btn btn-warning" id="warning" onclick="warningDemo()">
      Warning Toasts
    </button>
    <button class="btn btn-danger" id="error" onclick="errorDemo()">Error Toasts</button>
    

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/toast-notifications/notifications.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="toast.js"></script>
  </body>
</html>
