<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preloader</title>
    <!-- css link -->
    <link
      rel="stylesheet"
      href="../../vendor/preloader/dist/css/style.min.css"
    />
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="preloader.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">
    <!-- preloader -->
    <div class="preloader js-preloader flex-center">
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

    <!-- content -->
    <div class="row mt-5 images">
      <div class="col-lg-4">
        <img src="../../images/animal-1.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-4">
        <img src="../../images/animal-2.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-4">
        <img src="../../images/animal-3.jpg" alt="" class="img-fluid" />
      </div>
    </div>

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/preloader/dist/js/jquery.preloadinator.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="preloader.js"></script>
  </body>
</html>
