<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parallax</title>
    <!-- css link -->
    <!-- <link rel="stylesheet" href="../../vendor/"> -->
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="parallax3.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">
    <div
      class="[ c-example__tilt ] js-tilt"
      data-tilt-axis="x"
      data-tilt-glare="true"
      data-tilt-perspective="1000"
      data-tilt-scale="1"
      data-tilt-speed="400"
      data-tilt-max="10"
    >
      <div class="c-example__tilt-inner"></div>
    </div>

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/tilt.js/tilt.jquery.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="parallax3.js"></script>
  </body>
</html>
