<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drag Drop Uploader</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="uploader.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container my-5">
    
    <h1 class="text-center">Drag & drop File Uploader Example</h1>
    <div id="uploader"></div>


    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/drag-drop-uploader/dist/5x5jqpi.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="uploader.js"></script>
  </body>
</html>
