<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Light Box</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../vendor/light-box/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="light-box.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">

    <div class="row justify-content-center my-5">
        <div class="col-lg-4 mb-5">
            <a href="../../images/animal-1-full.jpg" data-lightbox="animal-1" data-title="Tiger"><img src="../../images/animal-1.jpg" alt="" class="w-100"></a>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <a href="../../images/animal-1-full.jpg" data-lightbox="animal" data-title="Tiger"><img src="../../images/animal-1.jpg" alt="" class="w-100"></a>
        </div><div class="col-lg-4">
            <a href="../../images/animal-2-full.jpg" data-lightbox="animal" data-title="Tiger"><img src="../../images/animal-2.jpg" alt="" class="w-100"></a>
        </div><div class="col-lg-4">
            <a href="../../images/animal-3-full.jpg" data-lightbox="animal" data-title="Tiger"><img src="../../images/animal-3.jpg" alt="" class="w-100"></a>
        </div>
    </div>
    

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/light-box/dist/js/lightbox.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="light-box.js"></script>
  </body>
</html>
