<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../vendor/calendar/page.css" />
    <link rel="stylesheet" href="../../vendor/calendar/style.css" />
    <link rel="stylesheet" href="../../vendor/calendar/theme.css" />
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="calendar.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container c-cal">
    <h1 class="mb-4">Calendar Plugin Demo</h1>
    <div class="calendar-wrapper" id="calendar-wrapper"></div>

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/calendar/calendar.min.js"></script>

    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="calendar.js"></script>
  </body>
</html>
