<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Progress Bar</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../vendor/progress-bar/progress-bar.css" />
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="progress-bar.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container p-con">
    <h1 class="text-center my-5">Progress Bar</h1>
    <div class="progress-bar">
      <div class="progress" data-percent="30" data-color="blue">
        <span>30%</span>
      </div>
    </div>

    <div class="progress-bar">
      <div class="progress" data-percent="50" data-color="green">
        <span>50%</span>
      </div>
    </div>

    <div class="progress-bar">
      <div class="progress" data-percent="60" data-color="yellow">
        <span>60%</span>
      </div>
    </div>

    <div class="progress-bar">
      <div class="progress" data-percent="70" data-color="maroon">
        <span>70%</span>
      </div>
    </div>

    <div class="progress-bar">
      <div class="progress" data-percent="80" data-color="brown">
        <span>80%</span>
      </div>
    </div>

    <div class="progress-bar">
      <div class="progress" data-percent="90" data-color="grey">
        <span>90%</span>
      </div>
    </div>

    <div class="progress-bar">
      <div class="progress" data-percent="95" data-color="black">
        <span>95%</span>
      </div>
    </div>

    <div class="progress-bar">
      <div class="progress" data-percent="100" data-color="green">
        <span>100%</span>
      </div>
    </div>

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/progress-bar/progress-bar.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="progress-bar.js"></script>
  </body>
</html>
