<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Owl Carousel</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../vendor/owl-carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../vendor/owl-carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="owl-carousel.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">
    <div class="owl-carousel">
      <img src="../../images/food-1.jpg" alt="" class="w-100" />
      <img src="../../images/sports-1.jpg" alt="" class="w-100" />
      <img src="../../images/animal-1.jpg" alt="" class="w-100" />
      <img src="../../images/learning-1.jpg" alt="" class="w-100" />
    </div>

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/owl-carousel/dist/owl.carousel.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="owl-carousel.js"></script>
  </body>
</html>
