<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>International Telephone Input</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../vendor/intl-tel-input/build/css/intlTelInput.min.css" />
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="telephone.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container">
    
    <h1 class="mb-3">International Telephone Input</h1>
    <form>
      <input id="phone" name="phone" type="tel" />
      <button type="submit">Submit</button>
    </form>
    

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/intl-tel-input/build/js/intlTelInput.min.js"></script>

    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="telephone.js"></script>
  </body>
</html>
