<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slick Slider</title>
    <!-- css link -->
    <link rel="stylesheet" href="../../vendor/slick-slider/slick/slick.css" />
    <link
      rel="stylesheet"
      href="../../vendor/slick-slider/slick/slick-theme.css"
    />
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="slick-slider-center.css" />
    <link rel="stylesheet" href="../../css/media.css" />
  </head>
  <body class="container bg-info">
    <div class="slick-container">
      <img src="../../images/food-1.jpg" alt="" class="w-100" />
      <img src="../../images/food-2.jpg" alt="" class="w-100" />
      <img src="../../images/food-3.jpg" alt="" class="w-100" />
      <img src="../../images/sports-1.jpg" alt="" class="w-100" />
      <img src="../../images/sports-2.jpg" alt="" class="w-100" />
      <img src="../../images/animal-1.jpg" alt="" class="w-100" />
      <img src="../../images/animal-2.jpg" alt="" class="w-100" />
      <img src="../../images/animal-3.jpg" alt="" class="w-100" />
    </div>

    <!-- js script -->
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../vendor/slick-slider/slick/slick.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="slick-slider-center.js"></script>
  </body>
</html>
